{
  plugins: ['syntax-dynamic-import', "dynamic-import-node", ["css-in-js", {"bundleFile": "./build/bundle.css"}]],
  presets: [
    [
      '@babel/preset-env', {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/es2015",
    "@babel/react"
  ]
}
