{
  plugins: ['syntax-dynamic-import', "dynamic-import-node"],
  presets: [
    [
      '@babel/preset-env', {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/es2015",
    "@babel/react"
  ]
}
